*.pyc
__pycache__/
job_manager.log
*.pyc
__pycache__/
job_manager.log
.DS_Store
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
SECRET_CONFIG
.idea
!.env.ci
!.env
gcp-*.json
.venv
dist/
poetry.lock
__pycache__
/target
